    <!-- About Section -->
    <section id="about" class="about-style container content-section text-center">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2">
	                <h2>You’ve got a great product, let's get the word out.</h2>
	                <p>In this Beginner’s Guide to Developer Marketing, you’ll learn about essential content types with <a href="http://www.daniellemorrill.com/">Danielle Morrill</a> (Mattermark), distribution plans with <a href="http://www.craigkerstiens.com/">Craig Kerstiens</a> (Heroku) and the effectiveness of retargeting with <a href="https://twitter.com/johnsheehan">John Sheehan</a> (Runscope).</p>
	            </div>
	        </div>
    </section>