    <!-- Contribute Section -->
    <section id="contribute" class="dark-section container content-section text-center">
	            <div class="col-lg-8 col-lg-offset-2">
	                <h2 class="no-margin">Have something to add?</h2>
	                <p>Head over to our <a href="https://github.com/heavybit/devmarketingguide" target="_blank">Github page</a> and submit your pull requests, or submit an issue with your additions and we'll take care of the rest</p>
	                <br />
	                <h2 class="no-margin">Want more developer focused content?</h2>
	                <p>Subscribe to <a href="https://heavybit.typeform.com/to/o2fjMn" target="_blank">Heavybit Updates</a> to unlock access to our monthly newsletter, event invites, and educational courses specific to your interests.</p>
	            </div>
    </section>