<!-- Contact Section -->
<section id="contact" class="contact-style content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p><a href="http://www.heavybit.com" target="_blank"><img src="{{ site.baseurl }}/img/heavybit.png"></a></img></p>
            <h2><a href="http://www.heavybit.com" target="_blank">dev marketing guide is a heavybit community project</a></h2>
            <p><strong>Heavybit is a 9 month program for developer companies.</strong> Members get access to a network of industry leaders, weekly talks and office hours, operational help and services, and a community centered around <a href="http://www.heavybit.com" target="_blank">Heavybit’s San Francisco clubhouse.</a></p>
        </div>
    </div>
</section>