    <!-- Content Types Section -->
    <section id="content" class="light-section container content-section text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="callout">Essential</h1><h1>Content Types</h1>
                        <div class="profile">
                            <a href="http://www.daniellemorrill.com/" target="_blank"><img src="{{ site.baseurl }}/img/danielle-morrill.png" class="responsive-image profile-image" target="_blank"></img></a>
                            <p>Danielle Morrill joined Twilio in 2009 as Director of Marketing as the community grew from a few hundred developers to more than 100,000 members. She is currently the co-founder & CEO of Mattermark.</p>
                        </div>
                        <div class="embed-responsive embed-responsive-244by77">
                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/130499297?color=ff9933&title=0&byline=0&portrait=0" width="750" height="241" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                            <p>During her Heavybit Speaker Series presentation, Morrill touts the advantages of simple yet effective marketing tools. “These are all organic things that you do that don’t cost you anything other than time,” she says.</p>

                    <h2>First things first: Who are you talking to?</h2>

                        <p>Building effective content isn't the easiest thing in the world, but it's nearly impossible if you don't know who your target audience is. Do you have concrete personas that you're building your content for?</p>

                        <p>Nisha Ahluwalia, ex-CMO at PagerDuty, breaks the process of persona identification down into simple, actionable steps in her talk <a href="http://www.heavybit.com/library/video/dev-marketing-ga-to-product-market-fit/" target="_blank">GA to Product-Market Fit</a>.</p>

                        <p>First answer the question "what problem does my product solve?". Then decide who has that problem and is looking for a solution. Only after you've identified these personas should you build content and begin channel experimentations, otherwise you're just burning your runway to the ground</p>

                    <h2>Get a Newsletter</h2>

                            <p>Email might not be the most attractive means of communication, but newsletters are direct and exclusive to customers, a good starting point. Morrill says “you should have an email newsletter if you have nothing else... This is the one opportunity you have to make something just for them that no one else consumes.”</p>

                        <h4>SOME POPULAR NEWSLETTER TOOLS</h4>
                        <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <ul>
                                <li><a href="http://www.mailchimp.com" target="_blank">Mailchimp</a></li>
                                <li><a href="http://www.activecampaign.com/" target="_blank">Active Campaign</a></li>
                                <li><a href="http://www.benchmarkemail.com/" target="_blank">Benchmark Email</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <ul>
                                <li><a href="http://www.feedblitz.com/" target="_blank">Feedblitz</a></li>
                                <li><a href="http://www.sailthru.com/" target="_blank">Sailthru</a></li>
                            </ul>
                        </div>
                        </div>

                    <h2>Email drip campaigns</h2>

                            <p>Danielle is a big believer in drip campaigns, she says “you should have an email drip campaign, even if it’s just, ‘Hi, thanks for signing up.’” As your list grows you can begin to segment your users. Watch what content each user clicks on most and start sending them more of that type.</p>

                            <p>
                                <h4>Things you should do</h4>
                                <ul>
                                    <li>You may want to manually send drip emails to new users, until you have a good idea of what sort of emails to send. You can read more about setting up a drip campaign in the <a href="https://www.sendwithus.com/resources/guide#chapter-2-onboarding-emails" target="_blank">Sendwithus Guide to Onboarding Emails</a>.</li>
                                    <li>Automate the drip campaign in advance. Here’s an example from <a href="http://mailchimp.com/features/automation/" target="_blank">MailChimp</a>.</li>
                                    <li>Test your emails. Get as many people on your team to read them as possible before pressing that final button.</li>
                                    <li>Make sure your emails look pretty. There are a few good options for responsive email templates:
                                        <ul>
                                            <li><a href="https://www.sendwithus.com/resources/templates">Open Source Email Templates</a> [Sendwithus]</a></li>
                                            <li><a href="http://zurb.com/ink/">Ink Responsive Email Framework</a> [Zurb]</a></li>
                                            <li><a href="https://github.com/mailgun/transactional-email-templates">Transactional Email Templates</a> [Mailgun]</a></li>
                                            <li><a href="http://www.artofemails.com/onboarding" target="_blank">Onboarding Templates</a> [Art of Email]</li>
                                        </ul>
                                    </li>
                                </ul>
                            </p>
                            <p>
                                <h4>Things you shouldn't do</h4>
                                <ul>
                                    <li>Send too many emails. You don’t want to clog anyone’s inbox.</li>
                                    <li>End up in a spam filter. One way to do this is by avoiding certain words in your subject line. <a href="http://blog.hubspot.com/blog/tabid/6307/bid/30684/The-Ultimate-List-of-Email-SPAM-Trigger-Words.aspx" target="_blank">Here's a great list from Hubspot.</a></li>
                                    <li>Forget to authenticate your sending domain. You'll need to setup <a href="https://support.google.com/mail/answer/81126?hl=en#authentication" target="_blank">DKIM, SPF, and DMARC</a></li>
                                </ul>
                            </p>

                    <h2>Fancy a blog?</h2>

                            <p>A blog is a good idea if you know you will be able to maintain it. “You could post once a month,” Morrill says. “Just post.” Content can range from contests to documentation where you can describe the product. “A great product is great marketing.” These documentation pages may be the most visited on your site.</p>

                            <p>What kind of content will you have? <a href="https://www.heavybit.com/library/video/developer-blogs-editorial-planning-and-distribution/" target="_blank">Get some inspiration from a presentation by Takipi co-founder Iris Shoor.</a></p>

                    <h2>Link to your own content</h2>

                            <p>Social media is not necessarily marketing. It can be ineffective, especially if you're linking to third-party sites. Remember to focus on your own product and content. “Every single one of those tweets is a missed opportunity to link to your great content.”</p>

                            <p>Create a buzz around your product as described by <a href="https://www.heavybit.com/library/video/getting-to-a-messaging-framework-and-value-prop/" target="_blank">Tiffany Spencer of Bessemer Venture Partners.</a></p>

                    <h2>Repurpose existing content</h2>

                            <p>Why spend hours putting your thoughts to paper if you're only going to post them to your blog? The best content marketers find multiple ways to repackage each piece of content they create.</p>

                            <p>GitHub's Chris Kelly put's it nicely in his talk <a href="https://www.heavybit.com/library/video/content-is-king-and-other-cliches/?15m17s" target="_blank">Content Is King And Other Cliches</a>:
                                <blockquote>"It takes seven different opportunities for an audience to respond to your message. So you have to tweet at them seven times, or you have to give a conference talk seven times, or you have to give some combination of a video clip and a trade show and a meet-up, and having them come to your office, and then receiving a newsletter from one of you."</blockquote>
                            </p>

                            <p>A single blog post can be converted into several tweets, a slide deck, an onstage presentation, a podcast, or a video. Each format lends itself to different channels, which allows you to take a single message to different users in their preferred formats.</p>

                    <h2>Get your product listed</h2>

                            <p>Product listing sites like <a href="http://stackshare.io">stackshare</a>, <a href="https://www.getapp.com">GetApp</a>, <a href="http://www.capterra.com">Capterra, <a href="http://www.producthunt.com">Product Hunt</a>, <a href="http://www.slant.co">Slant</a> and <a href="https://www.g2crowd.com">G2 Crowd</a> provide lasting results with minimal effort. Developers are highly informed and proactive about finding the most powerful tools to compliment their trait.</p>
                            <p>By listing your product you're able to get in-front of developers who are actively looking for new tools, create a place where users can submit meaningful reviews and gain a powerful back-link which will help you climb the SERP ladder.</p>

                </div>
    </section>
