<!-- Contact Section -->
<section id="contact" class="contact-style content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <p><a href="http://www.heavybit.com" target="_blank"><img src="{{ site.baseurl }}/img/heavybit.png"></a></img></p>
            <h2 class="no-margin"><a href="http://www.heavybit.com" target="_blank">dev marketing guide is a heavybit community project</a></h2>
            <p><strong>Heavybit helps startups turn products loved by developers into successful businesses.</strong> Founded by Former Heroku Founder James Lindenbaum, our community is the only one of its kind to focus solely on taking developer products to market. Throughout the program, founders work on developer traction, product market fit and customer development.</p>
        </div>
    </div>
</section>
