    <!-- Content Types Section -->
    <section id="content-types" class="content-types-style container content-section text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Essential Content Types</h1>
                        <div class="profile">
                            <a href="http://www.daniellemorrill.com/" target="_blank"><img src="/img/danielle-morrill.png" class="responsive-image profile-image" target="_blank"></img></a>
                            <p>Danielle Morrill joined Twilio in 2009 as Director of Marketing as the community grew from a few hundred developers to more than 100,000 members. She is currently the co-founder & CEO of Mattermark.</p>
                        </div>
                        <div class="embed-responsive embed-responsive-244by77">
                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/130499297?color=ff9933&title=0&byline=0&portrait=0" width="750" height="241" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                            <p>During her Heavybit Speaker Series presentation, Morrill touts the advantages of simple yet effective marketing tools. “These are all organic things that you do that don’t cost you anything other than time,” she says.</p>

                    <h2>Get a Newsletter</h2>

                            <p>Email might not be the most attractive means of communication, but newsletters are direct and exclusive to customers, a good starting point. “You should have an email newsletter if you have nothing else... This is the one opportunity you have to make something just for them that no one else consumes.”</p>

                        <h3>SOME POPULAR NEWSLETTER TOOLS</h3>
                            <p><ul>
                                <li><a href="http://www.mailchimp.com" target="_blank">Mailchimp</a></li>
                                <li><a href="http://www.activecampaign.com/" target="_blank">Active Campaign</a></li>
                                <li><a href="http://www.benchmarkemail.com/" target="_blank">Benchmark Email</a></li>
                                <li><a href="http://www.feedblitz.com/" target="_blank">Feedblitz</a></li>
                                <li><a href="http://www.sailthru.com/" target="_blank">Sailthru</a></li>
                            </ul></p>
                    <h2>Email drip campaigns</h2>

                            <p>“You should have an email drip campaign, even if it’s just, ‘Hi, thanks for signing up.’”</p>

                            <p>
                                <h3>DO</h3>
                                <ul>
                                    <li>Automate the drip campaign in advance. Here’s an example from <a href="http://mailchimp.com/features/automation/" target="_blank">MailChimp</a>.</li>
                                    <li>Test your emails. Get as many people on your team to read them as possible before pressing that final button.</li>
                                </ul>
                            </p>
                            <p>
                                <h3>DON'T</h3>
                                <ul>
                                    <li>Send too many emails. You don’t want to clog anyone’s inbox.</li>
                                    <li>End up in a spam filter. One way to do this is by avoiding certain words in your subject line. <a href="http://blog.hubspot.com/blog/tabid/6307/bid/30684/The-Ultimate-List-of-Email-SPAM-Trigger-Words.aspx" target="_blank">Here's a great list from Hubspot</a></li>
                                </ul>
                            </p>
                    <h2>Fancy a blog?</h2>

                            <p>A blog is a good idea if you know you will be able to maintain it. “You could post once a month,” Morrill says. “Just post.” Content can range from contests to documentation where you can describe the product. “A great product is great marketing.” These documentation pages may be the most visited on your site.</p>

                            <p>What kind of content will you have? <a href="http://www.heavybit.com/library/video/2014-11-11-iris-shoor" target="_blank">Get some inspiration from a presentation by Takipi co-founder Iris Shoor</a></p>

                    <h2>Link to your own content</h2>

                            <p>Social media is not necessarily marketing. It can be ineffective, especially if you are linking to third-party sites. Remember to focus on your own product and content. “Every single one of those tweets is a missed opportunity to link to your great content.”</p>

                            <p>Create a buzz around your product as described by <a href="http://www.heavybit.com/library/video/2015-04-21-tiffany-spencer" target="_blank">Tiffany Spencer of Bessemer Venture Partners</a></p>
                </div>
    </section>