<!-- DevGuild Section -->
<section id="devguild" class="dark-section container content-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <a href="http://devguild.heavybit.com/content-strategy/?utm_source=devmarketingguide" target="_blank"><img src="{{ site.baseurl }}/img/devguild.png" width="120px" class="responsive-image profile-image"></img>
                <h1 class="callout">DevGuild:</h1>
                <h1>Content Strategy</h1>
                </a>
                <p>Successful SaaS brands drive up to <strong>70% of inbound sales leads via their content efforts.</strong></p>
                <p>On April 12th, 2017 join us in San Francisco to learn how to build a better content strategy from the marketing experts at Stack Overflow, Auth0, Algolia, Twilio, Box and Intercom.</p>
                <p style="text-align: center;">
                <a href="http://devguild.heavybit.com/content-strategy/?utm_source=devmarketingguide" target="_blank">
                <button type="button" class="btn btn-devguild">
                	RSVP Today
                </button>
                </a>
            	</p>
            </div>
</section>