<!-- Distribution Section -->
<section id="distribution" class="dark-section container content-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="callout">Distribution</h1><h1>Plans</h1>
	               		<div class="profile">
	               			<a href="http://www.craigkerstiens.com/" target="_blank"><img src="{{ site.baseurl }}/img/craig-kerstiens.png" class="responsive-image profile-image"></img></a>
	               			<p>Craig Kerstiens was an early member of the <a href="https://www.heroku.com/" target="_blank">Heroku</a> team. He blogs frequently about Python, Django and Postgres and curates content for <a href="http://postgresweekly.com" target="_blank">Postgres Weekly</a> and <a href="http://postgresguide.com" target="_blank">Postgres Guide.</a></p>
	               		</div>
	               		<div class="embed-responsive embed-responsive-244by77">
	               			<iframe width="750" height="241" src="https://www.youtube.com/embed/wyMsrKBh8sc?showinfo=0" frameborder="0" allowfullscreen></iframe>
	               		</div>
               		
               		<h2>Timing Your Launches</h2>
               			<img src="/img/launch-schedule.png" class="img-responsive"></img>
               			<p>Have your content ready and schedule a time for launch. When should you launch?</p>
               				<h4>Stormy Monday</h4>
               				<p>Even distribution plans can come down with a case of the Mondays. “Monday is not a good day for launching,” Kerstiens says. “Your engineers are going to be worried about it through the weekend. You're going to be thinking about it. You're not going to sleep well. It's just going to create other problems that are unrelated to audience.”</p>
               				<h4>Ruby Tuesday (Through Thursday)</h4>
               				<p>“Tuesday is the biggest day for traffic,” he says. “When do we launch this? It’s always Tuesday through Thursday.”</p>
               				<h4>Fridays I’m In Love</h4>
               				<p>It’s the start of the weekend, but people are still checking Twitter and sites like Hacker News. Why not get some lower-tier content out there? “Friday I actually love,” Kerstiens says. “I can get eyeballs that I wouldn't otherwise get.”</p>
               				<h4>Working For The Weekend</h4>
               				<p>“For smaller, interesting engineering blog posts, thought leadership, etc, it's really easy to do. Weekends are quiet, but there's still developers reading and engaging with your content on the weekends.”</p>
						<p>Learn more about <a href="https://www.heavybit.com/library/video/the-science-of-content-marketing-for-developers/?t=16m24s" target="_blank">timing and frequency of content releases </a>with Codenvy CEO Tyler Jewell.</p>
						<p>Iris Shoor wrote a fantastic guide on <a href="http://blog.oribi.io/distributing-content-marketing-the-complete-guide/" target="blank">Distributing Content Marketing</a> that outlines 11 channels for content distribution.</p>

					<h2>Tell Everyone You Know</h2>
						<p>Hiten Shah is the cofounder of QuickSprout, Crazy Egg and KISSmetrics where he’s helped hundreds of SaaS marketers reach millions.</p>
						<p>In his talk <a href="https://www.heavybit.com/library/video/building-a-content-marketing-machine/" target="_blank">Building A Content Marketing Machine</a> he says the most common mistake he sees people make is to spend tons of time on content creation only to fall down when it comes to distribution. If a developer posts an article and no one reads it, did she really post it at all?</p>

						<p><strong>For each piece of content you build, spend as much time promoting it as it took you to create it.</strong></p>
						
						<p>Hiten suggests you email your friends & coworkers, and run tests sending individual pieces of content to your mailing list - but make sure you spend plenty of time crafting these messages so they feel authentic and human. It's worse sending a robotic email than no email at all.</p>

					<h2>Work with Influencers</h2>
						<p>"Developers influence other developers" says Hiten, so it makes sense to integrate developer influencers in your content from the start.</p>

						<p><blockquote>Marketers don't necessarily influence other marketers because they're all trying to compete for the same traffic. While developers, they just want to get their job done, get it done more efficiently, get it done better. They're always trying to keep up with what's going on with new technologies, and they're looking to other developers to help them do that.</blockquote></p>

						<p>Find influencers in your segment and figure out how you can work with them. When you publish, @ them on Twitter or GitHub to encourage them to share your content with their wider networks.</p>

					<h2>Become a Contributor<h2> 
                            <p>Most of the time when we hear the word ‘contributor’ we automatically associate it with open source code contributions. Don’t limit your contribution to just code. Technology evolves and expands faster than any one person can keep pace with, this leaves content creators (think bloggers, podcast hosts, vloggers) seeking out individuals who can speak to their audience from the perspective of a niche technology expert.</p> 

                            <p>Create a list of technologies that live in the ecosystem where your product or tool fits. Then begin reaching out to moderators and submitting content about how your solution is innovating in that ecosystem.</p> 
                            
                            <p>Focus on adding practical value to the community not selling your product. </p> 
					
					<h2>Timing your PR Pitch</h2>
						<p>Does it matter when you send out your PR pitches? <strong>It sure does.</strong> Read more in <a href="https://www.heavybit.com/library/blog/pr-pitches-all-in-timing/" target="_blank">this piece on the Heavybit blog.</a></p>
						<p><strong>Not sure where to even start with Developer PR?</strong> Subscribe to <a href="https://www.heavybit.com/library/podcasts/the-pitch-room/" target="_blank">The Pitch Room</a> a podcast that features the latest news, tools, and tactics for everything PR related.</p>
					
					<h2>Minimum Viable Launch</h2>
						<p>CoreOS' <a href="https://twitter.com/melsmo" target="_blank">Melissa Smolensky</a> lays out what you need for marketing success in this <a href="https://www.heavybit.com/library/video/minimum-viable-launch-what-you-need-for-marketing-success/" target="_blank">Heavybit Speaker Series talk.</a> Jump to any section of her talk with the links below.</p>
						<p>
							<ul>
								<li><a href="https://www.heavybit.com/library/video/minimum-viable-launch-what-you-need-for-marketing-success/?4m48s" target="_blank">Set Goals and Choose Outcomes</a></li>
								<li><a href="https://www.heavybit.com/library/video/minimum-viable-launch-what-you-need-for-marketing-success/?6m29s" target="_blank">Timing is Critical</a></li>
								<li><a href="https://www.heavybit.com/library/video/minimum-viable-launch-what-you-need-for-marketing-success/?7m50s" target="_blank">Develop Your Story as a Team</a></li>
								<li><a href="https://www.heavybit.com/library/video/minimum-viable-launch-what-you-need-for-marketing-success/?13m45s" target="_blank">Reach out to the Press</a></li>
								<li><a href="https://www.heavybit.com/library/video/minimum-viable-launch-what-you-need-for-marketing-success/?17m59s" target="_blank">Coordinate your Launch</a></li>
							</ul>
						</p>						
					
					<h2>Third Party Channels</h2>
						<p>“On the beginner content piece, really what you want to do is have your content live on a third party property… As your product grows and becomes more complex, you're going to want to focus on that, and then how do you get other people engaged and contributing?”</p>
						<p>
							<ul>
								<li>Free advertising, outreach</li>
								<li>Captive audience already on a site, or you can build a new audience</li>
								<li>Good for SEO, Retargeting</li>
								<li>Low investment for a high return of visitors</li>
							</ul>
						</p>
						<p>“Heroku actually has a great example of this in <a href="http://www.12factor.net" target="_blank">12factor.net</a> where it's clearly tied to Heroku,” he says. “But it's not a Heroku.com property. There's a lot of these.”</p>


                    <h2>Measure your performance</h2>

                        <p>You don't want to find yourself in a position where you've received a ton of new signs ups but can't point at specific activities to say 'that worked'. In his DevGuild: Demand Generation talk <a href="https://devguild.heavybit.com/demand-generation/#personalization-at-scale" target="_blank">1:1 Personalization at Scale</a> Segment's VP of Growth Guillaume Cabane outlines some seriously impressive programmatic approaches to making the most of your marketing measurement efforts</p>

                        <p>Watch what your users are doing with your product and content, and use that information to deliver personalized messaging and experiences across all your marketing efforts.</p>
            </div>
</section>
