<!-- Distribution Section -->
<section id="distribution" class="distribution-style container content-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Distribution Plans</h1>
	               		<div class="profile">
	               			<a href="http://www.craigkerstiens.com/" target="_blank"><img src="{{ site.baseurl }}/img/craig-kerstiens.png" class="responsive-image profile-image"></img></a>
	               			<p>Craig Kerstiens is an early member of the <a href="https://www.heroku.com/" target="_blank">Heroku</a> team. He blogs frequently about Python, Django and Postgres and curates content for <a href="http://postgresweekly.com" target="_blank">Postgres Weekly</a> and <a href="http://postgresguide.com" target="_blank">Postgres Guide.</a></p>
	               		</div>
	               		<div class="embed-responsive embed-responsive-244by77">
	               			<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/130499831?color=ff9933&title=0&byline=0&portrait=0" width="750" height="241" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	               		</div>
               		<h2>Timing Your Launches</h2>
               			<img src="/img/launch-schedule.png" class="img-responsive"></img>
               			<p>Have your content ready and schedule a time for launch. When should you launch?</p>
               				<h4>Stormy Monday</h4>
               				<p>Even distribution plans can come down with a case of the Mondays. “Monday is not a good day for launching,” Kerstiens says. “Your engineers are going to be worried about it through the weekend. You're going to be thinking about it. You're not going to sleep well. It's just going to create other problems that are unrelated to audience.”</p>
               				<h4>Ruby Tuesday (Through Thursday)</h4>
               				<p>“Tuesday is the biggest day for traffic,” he says. “When do we launch this? It’s always Tuesday through Thursday.”</p>
               				<h4>Fridays I’m In Love</h4>
               				<p>It’s the start of the weekend, but people are still checking Twitter and sites like Hacker News. Why not get some lower-tier content out there? “Friday I actually love,” Kerstiens says. “I can get eyeballs that I wouldn't otherwise get.”</p>
               				<h4>Working For The Weekend</h4>
               				<p>“For smaller, interesting engineering blog posts, thought leadership, etc, it's really easy to do. Weekends are quiet, but there's still developers reading and engaging with your content on the weekends.”</p>
						<p>Learn more about <a href="http://www.heavybit.com/library/video/2014-10-07-tyler-jewell?t=16m24s" target="_blank">timing and frequency of content releases </a>with Codenvy CEO Tyler Jewell</p>
					<h2>Timing your PR Pitch</h2>
						<p>Does it matter when you send out your PR pitches? <strong>It sure does.</strong> Read more in <a href="http://blog.heavybit.com/blog/2014/11/4/timing" target="_blank">this piece on the Heavybit blog.</a></p>
					<h2>Third Party Channels</h2>
						<p>“On the beginner content piece, really what you want to do is have your content live on a third party property… As your product grows and becomes more complex, you're going to want to focus on that, and then how do you get other people engaged and contributing?”</p>
						<p>
							<ul>
								<li>Free advertising, outreach</li>
								<li>Captive audience already on a site, or you can build a new audience</li>
								<li>Good for SEO, Retargeting</li>
								<li>Low investment for a high return of visitors</li>
							</ul>
						</p>
						<p>“Heroku actually has a great example of this in <a href="http://www.12factor.net" target="_blank">12factor.net</a> where it's clearly tied to Heroku,” he says. “But it's not a Heroku.com property. There's a lot of these.”</p>
            </div>
</section>