    <!-- Distribution Section -->
    <section id="distribution" class="distribution-style container content-section text-center">
	            <div class="col-lg-8 col-lg-offset-2">
	                <h1>Distribution Plans</h1>
		               		<p>Craig Kerstiens is an early member of the <a href="https://www.heroku.com/">Heroku</a> team. He blogs frequently about Python, Django and Postgres and curates content for <a href="http://postgresweekly.com">Postgres Weekly</a> and <a href="http://postgresguide.com">Postgres Guide.</a></p>
	               		<h2>Timing Your Launches</h2>
	               			<img src="/img/launch-schedule.png" class="img-responsive"></img>
	               			<p>Have your content ready and schedule a time for launch. When should you launch?</p>

								<ul>
									<li><strong>Monday is not a good day for launching.</strong> You’re up all weekend preparing for a Monday launch. This creates problems internally and your launch will be affected.</li>
									<li><strong>Tuesday through Thursday are great.</strong>  “If we can get it on Hacker News' number one spot on Tuesday, we'll have this many page views and we're going to have this many sign-ups, and that's great,” Kerstiens says.</li>
									<li><strong>Fridays are good for smaller products.</strong> “If Twitter volume is busier on Tuesday, but quieter on Friday, and if I can launch a tier two or tier three, a smaller product update, I can get eyeballs that I wouldn't otherwise get. Other people are competing for those, so this is a really nice opportunity.”</li>
									<li><strong>Weekends work for posts.</strong> “For smaller, interesting engineering blog posts, thought leadership, etc, it's really easy to do. Weekends are quiet, but there's still developers reading and engaging with your content on the weekends.”</li>
								</ul>
							<p>Learn more about <a href="http://www.heavybit.com/library/video/2014-10-07-tyler-jewell?t=16m24s" target="_blank">timing and frequency of content releases with Codenvy CEO Tyler Jewell</a></p>
	            </div>
    </section>