    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading callout-header">The</h1><h1 class="brand-heading">Developer Marketing Guide</h1>
                        <h2>You’ve got a great product, let's get the word out.</h2>
                    <p>In this Developer Marketing Guide, you’ll learn about:
                        <ul>
                            <li>Essential content with <a href="#content" class="page-scroll">Danielle Morrill</a> (Twilio & Mattermark).</li>
                            <li>Distribution plans with <a href="#distribution" class="page-scroll">Craig Kerstiens</a> (Heroku & Citus Data).</li>
                            <li>The effectiveness of community projects with <a href="#community-projects" class="page-scroll">John Sheehan</a> (Runscope).</li>
                        </ul>
                        </p>
                        <a href="#content-types" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>