<!-- Retargeting Section -->
<section id="retargeting" class="retargeting-style container content-section text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Community Projects and Retargeting</h1>
                	<div class"profile">
                		<a href="https://twitter.com/johnsheehan" target="_blank"><img src="{{ site.baseurl }}/img/john-sheehan.png" class="responsive-image profile-image"></img></a>
                		<p>John Sheehan is the co-founder & CEO of <a href="https://www.runscope.com/" target="_blank">Runscope</a>. He knows firsthand how to get developers engaged and how to drive grassroots adoption of developer products; he led developer evangelism at <a href="https://www.twilio.com/" target="_blank">Twilio</a> and API/Platform at <a href="https://ifttt.com" target="_blank">IFTTT</a>.</p>
                	</div>
                	<div class="embed-responsive embed-responsive-244by77">
	               			<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/130499052?color=ff9933&title=0&byline=0&portrait=0" width="750" height="241" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	               		</div>
				<h2>What makes a site popular?</h2>
					<p>
						<ul>
							<li>No sign-up: the faster the consumer can get to the product, the better</li>
							<li>Does one thing well: as opposed to a million things not so well</li>
							<li>It’s free: who doesn’t love free stuff?</li>
						</ul>
					</p>
				<h1>Community Projects</h1>
					<p>“We have had a really good run of success with these, so we are constantly on the look out for new community projects,” Sheehan says.</p>
					<p>
					<h4>Example Community Projects</h4>
						<ul>
							<li><a href="http://www.devcojobs.com" target="_blank">Devco Jobs</a> [Heavybit]</li>
							<li><a href="http://postgresguide.com/" target="_blank">Postgres Guide</a> [Heroku]</li>
							<li><a href="http://www.javais.cool" target="_blank">Java is Cool</a> [Takipi]</li>
							<li><a href="http://www.12factor.net" target="_blank">12 Factor</a> [Heroku]</li>
							<li><a href="https://www.hurl.it/" target="_blank">Hurl.it</a> [Runscope]</li>
							<li><a href="http://requestb.in/" target="_blank">RequestBin</a> [Runscope]</li>
						</ul>
					</p>
					<h4>Still not convinced?</h4>
					<p>In this video, Meghan Murphy of Twilio illustrates the <a href="http://www.heavybit.com/library/video/2014-08-12-meghan-murphy">“ROI of Community.”</a></p>
					<p>Here's more from Sheehan on the marketing impact of <a href="http://www.heavybit.com/library/video/2013-04-02-john-sheehan?t=32m24s" target="_blank">others using your community products & services.</a></p>
				<h2>Retargeting</h2>
					<p>“Our community projects refer, between direct, organic referrals and retargeting, about 33% of our sign-ups for an average cost per acquisition for retargeting of about 2 dollars… I consider this roughly like free sign-ups.”</p>
					<p>Retargeting in action:</p>
					<p><blockquote class="twitter-tweet" data-cards="hidden" lang="en"><p lang="en" dir="ltr">Nice. <a href="https://twitter.com/johnsheehan">@johnsheehan</a> is retargeting. You found me! (Ads) cool ad John. //cc <a href="https://twitter.com/Runscope">@runscope</a> <a href="http://t.co/ycPalb7t0q">pic.twitter.com/ycPalb7t0q</a></p>&mdash; Donn Felker (@donnfelker) <a href="https://twitter.com/donnfelker/status/366576159506436097">August 11, 2013</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></p>
					<h4>Retargeting Tools</h4>
					<p>John uses <a href="http://www.perfectaudience.com/" target="_blank">Perfect Audience</a>, but there are plenty of other options. The top retargeting services are <a href="https://www.adroll.com/" target="_blank">AdRoll</a>, <a href="https://www.chango.com/" target="_blank">Chango</a>, <a href="http://www.triggit.com/" target="_blank">Triggit</a>, and <a href="https://www.retargeter.com/" target="_blank">ReTargeter</a></p>

            </div>
</section>